.git
.gitignore
.github
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.md
!README.md
.DS_Store
.idea/
.vscode/
settings.json
*.txt
!requirements.txt
uploads/
docker-compose.yml
tests/
samples/
requirements-dev.txt
pyproject.toml
.ruff_cache/
.pytest_cache/
